body {
    margin: 0;
}
nav {
    margin: 0 0 1em;
    padding: 0.5em;
    background-color: #7fdbca;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}